#mainnav {
  margin-bottom: 10px;
}

.com-chilipeppr-mainnav .navbar-collapse {
  /* height:30px; */
}

a.navbar-brand.main-brand {
  color: #bebebe;
  padding-right: 10px;
}

a.navbar-brand.subbrand {
  margin-bottom: 0;
  padding-left: 10px;
}


/* .nav li:hover{
    color: #555;
background-color: #e7e7e7;
} */

#mainnav .navbar-nav li .hdrbar {
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
}
